<style>
    html, body {
        margin: 0;
        padding: 0;
        background: transparent;
    }

    .m-0 {
        margin: 0;
    }

    .m-b-0 {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .m-b-s-0 {
        margin-block-start: 0;
    }

    .m-b-e-0 {
        margin-block-end: 0;
    }

    .p-0 {
        padding: 0;
    }

    .w-100 {
        width: 100%;
    }

    .h-100 {
        height: 100%;
    }

    .text-size-xsm {
        font-size: 8px;
    }

    .text-size-sm {
        font-size: 10px;
    }

    .text-size-md {
        font-size: 14px;
    }

    .text-size-xmd {
        font-size: 16px;
    }

    .text-size-lg {
        font-size: 20px;
    }

    .text-size-xlg {
        font-size: 24px;
    }

    .text-family {
        font-family: monospace Arial sans-serif;
    }

    .text-center {
        text-align: center ! important;
    }

    .d-flex {
        display: flex;
    }

    .j-c-center {
        justify-content: center;
    }

    .yourdwell-auth-header {
        height: 50px;
    }

    .yourdwell-auth-header > .header-container {
        display: flex;
        justify-content: space-between;
        padding: .5em 1em;
    }

    .yourdwell-auth-header > .header-logo {
        display: flex;
        align-items: center;
    }

    .header-logo > .labeled-logo {
        display: flex;
        flex-wrap: nowrap;
    }
</style>

<div class="yourdwell-auth-header w-100">
    <div class="header-container">
        <div class="header-logo h-100">
            <div class="labeled-logo ">
                <h1 class="text-family text-size-lg m-b-0">Yourdwell</h1>
                <p class="text-family text-size-sm m-b-0">Auth</p>
            </div>
        </div>
    </div>
</div>