{% extends 'base.html.twig' %}

{% block title %}Hello AuthController!{% endblock %}

{% block body %}
<div data-controller="auth">
    <input data-auth-target="username">
    <input data-auth-target="password">
    <button data-action="click->auth#getAuth">check</button>

</div>
{% endblock %}
